<h1>Grafico Dona</h1>
<form>
  <div ng-controller="DemoCtrl" layout="column" layout-padding ng-cloak>

    <br/>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Input">
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" (keyup)="teclear($event)">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <p>{{ saludo }}</p>

      <mat-form-field appearance="standard">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Apellidos">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>contraseña</mat-label>
        <input matInput placeholder="Contraseña">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <!--<mat-divider></mat-divider>-->

      <mat-form-field>
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>
