<!--<button mat-raised-button color="primary" [routerLink]="['/inventory/managerProducts/new']">Crear
      <i class="material-icons">playlist_add</i>
    </button>-->

<mat-toolbar>Productos</mat-toolbar>
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Productos">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- referenceProduct Column -->
    <ng-container matColumnDef="referenceProduct">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Referencia </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.referenceProduct }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="marca">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Marca</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.marca}}</mat-cell>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
    </ng-container>

    <!-- habilitado Column -->
    <ng-container matColumnDef="habilitado">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Habilitado</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="element.habilitado" [ngClass]="'activo'"> Activo</span>
        <span *ngIf="!element.habilitado" [ngClass]="'inactivo'"> Inactivo</span>
      </mat-cell>
    </ng-container>

    <!-- habilitado Column -->
    <ng-container matColumnDef="categorias">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Categoría</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.categorias.nameCategory}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" [routerLink]="['/inventory/managerProducts/edit/',row.idProducto]"> Actualizar
          <i class="material-icons">create</i>
        </button>
        <button mat-button color="accent" (click)="deleteProduct(row)"> Eliminar
          <i class="material-icons">delete_forever</i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20,25,100]" showFirstLastButtons></mat-paginator>
</div>

<br/>


<button mat-fab color="accent" style="float: right" routerLink='/inventory/managerProducts/new'>
  <mat-icon>create</mat-icon>
</button>
