<!--<router-outlet></router-outlet>-->

<mat-toolbar>Categorías</mat-toolbar>
<div class="example-container mat-elevation-z8">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar categoría">
    </mat-form-field>
  </div>
  <mat-table [dataSource]="dataSource" matSort aria-label="Elements">

    <!--<ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
      <mat-cell *matCellDef="let element; let i =index;"> {{i +1}} </mat-cell>
    </ng-container>-->

    <ng-container matColumnDef="idCategory">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.idCategory}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nameCategory">
      <mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nameCategory}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" [routerLink]="['/inventory/managerCategorys/edit/',row.idCategory]"> Actualizar
          <i class="material-icons">create</i>
        </button>
        <button mat-button color="accent" (click)="deleteCategorys(row.idCategory)"> Eliminar
          <i class="material-icons">delete_forever</i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSize]="10" [length]="cantidad" [pageSizeOptions]="[5, 10, 25, 100]" (page)="mostrarMas($event)"></mat-paginator>
</div>
<br/>

<button mat-fab color="accent" style="float: right" routerLink='/inventory/managerCategorys/new'>
  <mat-icon>create</mat-icon>
</button>
