.example-container {
  display: flex;
  flex-direction: column;
}

/*.example-container>* {
  width: 100%;
}*/

.example-spacer {
  flex: 1 1 auto;
}

/*.contenedor {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  max-width: 600px;
}*/
