<!--<mat-card> Registro de Productos</mat-card>
<br/>-->
<form class="example-container" [formGroup]="formProducts" (ngSubmit)="saveData()" #productForm="ngForm" novalidate="novalidate">
  <mat-card>
    <mat-card-title> Registro de Productos</mat-card-title>
    <mat-card-content>
      <div ng-controller="DemoCtrl" layout="column" layout-padding ng-cloak>
        <br/>
        <div class="example-container">
          <div [hidden]="true">
            <mat-form-field>
              <input matInput placeholder="Codigo" name="idProducto" [(ngModel)]="modelProduct.idProducto" formControlName="idProducto">
            </mat-form-field>
          </div>

          <mat-form-field>
            <input matInput type="text" placeholder="Referencia" name="referenceProduct" [(ngModel)]="modelProduct.referenceProduct"
              formControlName="referenceProduct">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Marca" name="marca" [(ngModel)]="modelProduct.marca" formControlName="marca">
          </mat-form-field>

          <mat-form-field appearance="standard">
            <mat-label>Descripción</mat-label>
            <input matInput placeholder="Descripción" type="text" name="description" [(ngModel)]="modelProduct.description" formControlName="description">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Manifiesto" name="nroManifiesto" [(ngModel)]="modelProduct.nroManifiesto" required
              formControlName="nroManifiesto">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Iva" type="number" class="example-right-align" name="iva" [(ngModel)]="modelProduct.iva" formControlName="iva">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Dscto%" class="example-right-align" name="descuentoProd" [(ngModel)]="modelProduct.descuentoProd"
              formControlName="descuentoProd">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="Nota" [(ngModel)]="modelProduct.nota" name="nota" formControlName="nota"> Nota</textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Categorías" [(value)]="idCategoriaSeleccionada">
              <!--<mat-option value="">Seleccione</mat-option>-->
              <mat-option *ngFor="let item of listCategorys" [value]="item.idCategory">
                {{item.nameCategory}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!--<mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [max]="maxFecha" [(ngModel)]="fechaSeleccionada">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>-->

          <br>
          <div class="row" formGroupName="state">
            <div class="form-group">
              <div mat-checkbox class="example-margin">
                <mat-checkbox class="example-margin" name="enable" [(ngModel)]="modelProduct.state.enable" formControlName="enable"> Habilitar</mat-checkbox>
              </div>
              <div mat-checkbox class="example-margin">
                <mat-checkbox class="example-margin" name="active" [(ngModel)]="modelProduct.state.active" formControlName="active"> Activar</mat-checkbox>
              </div>
            </div>
          </div>

          <button mat-raised-button color="primary" type="submit" title="Guardar">Guardar </button>

        </div>

        {{ formProducts.valid }}

      </div>
    </mat-card-content>
  </mat-card>
</form>
