
<mat-card>
  <mat-card-title [ngClass]="'noPage'"><h1 style="color:#1168AE; font-weight:bold; text-align: center">Acceso Denegado</h1></mat-card-title>
  <mat-card-content>
    <div ng-controller="DemoCtrl" layout="column" layout-padding ng-cloak>
      <br/>
      <div class="example-container" style="text-align: center">
        <img src="./assets/img/AccesoDenegado3.png" class="md-card-image" alt="image caption">
      </div>
    </div>
  </mat-card-content>

</mat-card>
