<form class="form" [formGroup]="formUser" (ngSubmit)="saveData(formUser.value)">
  <mat-card>
    <mat-card-title> Registro de Usuarios</mat-card-title>
    <mat-card-content>

      <div ng-controller="DemoCtrl" layout="column" layout-padding ng-cloak>
        <br/>
        <div class="example-container">
          <mat-form-field>
            <mat-label>Codigo</mat-label>
            <input matInput required type="text" name="idUsuario" [(ngModel)]="modelUser.idUsuario" formControlName="idUsuario">
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>Nombres</mat-label>
            <input matInput required placeholder="Nombres" type="text" name="nombres" [(ngModel)]="modelUser.nombres" formControlName="nombres">
            <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
            <i class="material-icons" matSuffix>accessibility</i>
          </mat-form-field>

          <mat-form-field appearance="standard">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Apellidos" type="text" name="apellidos" [(ngModel)]="modelUser.apellidos" formControlName="apellidos">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Usuario" type="text" name="usuario" [(ngModel)]="modelUser.usuario" formControlName="usuario">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Ingrese su contraseña" [type]="hide ? 'password' : 'text'" name="clave" [(ngModel)]="modelUser.clave"
              formControlName="clave">
            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Digite tu Email" name="email" [(ngModel)]="modelUser.email" formControlName="email" required>
            <mat-error *ngIf="formUser.get('email').hasError('required')"> Debes ingresar un valor</mat-error>
            <mat-error *ngIf="formUser.get('email').hasError('email')"> No es un correo valido</mat-error>
          </mat-form-field>

          <!--<mat-checkbox>Check me!</mat-checkbox>-->

          <section class="example-section">
            <mat-checkbox class="example-margin" name="estado" [(ngModel)]="modelUser.estado" formControlName="estado">Habilitar</mat-checkbox>
          </section>

          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <button type="submit" mat-raised-button color="accent" [disabled]="!formUser.valid" title="Guardar">
            Guardar
            <i class="material-icons">playlist_add</i>
          </button>


        </div>
      </div>

    </mat-card-content>
  </mat-card>

</form>
