/* You can add global styles to this file, and also import other style files */

/*Esta linea es la que esta en la pagina de angular material https://material.angular.io/guide/getting-started 
 en la opcion Step 4: Include a theme, es por si queremos utilizar un tema en especifico*/

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

html,
body {
  margin: 0px;
}

.main-container {
  margin-top: 5px;
  padding: 10px;
}

/*.main-container{
  margin-top: 20px;
}*/

/*Animaciones*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.img-logo {
  width: 120px;
}
