<mat-card> Registro de Categorías</mat-card>
<br/>
<form class="example-container" [formGroup]="formCategorys" #categoriaForm="ngForm" (ngSubmit)="saveData()">
  <br>
  <div [hidden]="true">
    <mat-form-field>
      <mat-label>Codigo</mat-label>
      <input matInput placeholder="ID" name="idCategory" [(ngModel)]="modelCategory.idCategory" formControlName="idCategory">
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput required name="nameCategory" [(ngModel)]="modelCategory.nameCategory" formControlName="nameCategory" type="text">
  </mat-form-field>

  <div class="row" formGroupName="state">
    <div class="form-group">
      <div mat-checkbox class="example-margin">
        <mat-checkbox class="example-margin" name="enable" [(ngModel)]="modelCategory.state.enable" formControlName="enable"> Habilitar</mat-checkbox>
      </div>
      <div mat-checkbox class="example-margin">
        <mat-checkbox class="example-margin" name="active" [(ngModel)]="modelCategory.state.active" formControlName="active"> Activar</mat-checkbox>
      </div>
    </div>
  </div>



  <button mat-raised-button color="primary" type="submit" [disabled]="categoriaForm.invalid" title="Guardar">
    <mat-icon>done</mat-icon>
    <span>Guardar</span>
  </button>
  <!--<button mat-raised-button color="accent" routerLink='/inventory/categorys' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>-->

  <br/>
</form>
