<mat-card>
  <!--<mat-card-title [ngClass]="'noPage'">Página no encontrada</mat-card-title>-->
  <mat-card-content>
    <div ng-controller="DemoCtrl" layout="column" layout-padding ng-cloak>
      <br/>
      <div class="example-container">
        <img src="./assets/img/noPage2.png" class="md-card-image" alt="image caption">
      </div>
    </div>
  </mat-card-content>

</mat-card>
